<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title>Home</title>
</head>
<body>
  <div>
    <header>
      <h1>Crowd Relief HQ</h1>
      <nav>
        <span>Welcome</span>
        <span>Success Stories</span>
        <span>About</span>
        <span>Volunteer Easy Start</span>
        <span>Self-Care</span>
      </nav>
    </header>
    <main>
      <p class="important">Thank you for visiting! Although our organization is very active, this website is under construction. We are quickly gearing up to make the website your one-stop resource to learn about all our developments, find ways to get involved with us and partners on the ground, and report a need for help. For now, please stay tuned!</p>
      <p>Find us on Twitter:</p>
      <p>&emsp;&emsp;@HarveyRescue — helping get help to those in trouble</p>
      <p>&emsp;&emsp;@HarveyRelief — helping provide post-event relief</p>
      <p class="important">We are not an emergency service. In an emergency, please call 911.</p>
      <p>For press inquiries only, contact press AT crowdrescuehq.org</p>
      <h3>Joining Forces, Saving Lives</h3>
      <p>When Hurricane Harvey slammed into Houston, emergency dispatchers said: "Call for rescue. We aren't checking Twitter." Survivors, unable to get through to 911, did what came naturally - they turned to social media.</p>
      <p>We saw their cries for help, and we answered. In one hour, we launched an interactive, live updated map so volunteer boat rescuers knew exactly where to go.</p>
      <p>One week. 700 volunteers. 5,000 lives saved.</p>
      <p>When disaster strikes, the world comes together to help. Will you join us?</p>
      <h3>CURRENT RESCUE OPERATIONS: Harvey and Irma</h3>
      <p>Our HarveyRescue team continues to find and respond to SOS calls on social media. At the same time, we're gearing up for Irma.</p>
      <h3>QUICK START:</h3>
      <p>Find calls for help, and reply using these tags:</p>
      <p>&emsp;&emsp;#HarveySOS and #IrmaSOS - for those needing rescue</p>
      <p>&emsp;&emsp;#HarveySAFE and #IrmaSAFE - for those successfully rescued</p>
    </main>
  </div>
</body>
</html>