<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title>CrowdRescueHQ</title>
</head>
<body>
  <div>
    <header>
      <h1>Crowd Relief HQ</h1>
      <nav>
        <span>Welcome</span>
        <span>Success Stories</span>
        <span>About</span>
        <span>Volunteer Easy Start</span>
        <span>Self-Care</span>
      </nav>
    </header>
    <main>
      <%= @page %>
    </main>
  </div>
</body>
</html>