body {
  padding:0;
  margin:0;
  background-color:lightblue;
  font-family:sans-serif;
  text-align:center;
}

body > div {
  text-align:initial;
  width:100%;
  max-width:1200px;
  display:inline-block;
}

header > h1 {
  margin-left:1em;
}

nav {
  display:flex;
  width:100%;
  justify-content:space-around;
  background-color:white;
  padding:0.8em;
}

main {
  margin:1em;
  padding:1em;
  height:100%;
  background-color:lightgrey;
}

p.important {
  font-weight:bold;
  color:red;
}